/* 헤더 전체 */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #fff;
  box-shadow: 0 8px 24px rgba(29,78,216,.08), 0 1px 0 rgba(17,24,39,.05);
}

/* 내부 정렬 */
.wrap {
  padding: 26px 34px;
  display: flex;
  align-items: center;
  /* ⬇️ space-between 제거 */
  justify-content: flex-start;
}

/* 로고+텍스트 묶음 */
.brand {
  display: flex;
  align-items: center;
  gap: 10px;         /* 로고와 텍스트 간격 */
}

/* 네비는 오른쪽으로 밀기 */
.header-nav {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: auto; /* ⬅️ 오른쪽 정렬 */
}

/* 로고 텍스트 */
.logo {
  text-decoration: none;
  font-size: 40px;
  font-weight: 800;
  color: #1D4ED8;
}

/* 로고 이미지 */
.brand-mark-img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}


/* 링크 */
.header-nav .item {
  position: relative; /*after 위치 기준*/
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #1D4ED8;
  padding: 8px 6px;
  transition: color 100ms ease-out; /*색상 변화를 부드럽게 함*/
}

/* 밑줄 효과 -> 기본은 숨겨져 있음 */
.header-nav .item::after {
  content: '';
  position: absolute; /*부모를 기준으로 절대위치*/
  left: 8px;
  right: 8px;
  bottom: 2px;
  height: 3px; /*밑줄 두께*/
  border-radius: 5px;
  background: #3B82F6;
  transform: scaleX(0); /*가로 사이즈가 0, 숨겨진 상태임*/
  transform-origin: center; /*중앙을 기준으로 커짐*/
  transition: transform 200ms ease-in-out; /*확장되는 애니메이션*/
}

/* hover */
.header-nav .item:hover {
  color: #3B82F6;
}
.header-nav .item:hover::after {
  transform: scaleX(1); /*밑줄이 가로로 100% 확장 되는 혀과*/
}

/* 현재 페이지 표시*/
.header-nav .item.active {
  color: #3B82F6;
}
.header-nav .item.active::after {
  transform: scaleX(1);
}

/* 로그아웃 버튼 -> 로그아웃은 텍스트가 아니므로! */
.logout {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  color: #1D4ED8;
  font-size: 20px;
  padding: 8px 6px;
  position: relative;
  transition: color 100ms ease-out;
}
.logout:hover {
  color: #3B82F6;
}
.logout::after {
  content: '';
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 2px;
  height: 3px;
  border-radius: 3px;
  background: #3B82F6;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 200ms ease-in-out;
}
.logout:hover::after {
  transform: scaleX(1);
}

/* 로고 이미지만 안전하게 스타일 */
.brand-mark-img{
  width: 60px;
  height: 60px;
  object-fit: contain;  /* 로고 비율 유지 */
}

